VIMANTRA_ENV=testing
VIMANTRA_DEBUG=false
VIMANTRA_LOG_LEVEL=WARNING
VIMANTRA_API_HOST=127.0.0.1
VIMANTRA_API_PORT=8000
VIMANTRA_DATABASE_PATH=database/testing-missions.sqlite
VIMANTRA_MAVSDK_ADDRESS=udp://:14540
